extends layout

block content
  h1= title
  <br />
  <ul id="#{title}"></ul>
  <form action="">
  <input id="m" autocomplete="off" /><button>Send</button>
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/jquery-1.10.2.js"></script>
  <script src="/javascripts/chat.js"></script>
  <script>chatroom = '#{title}'; currentMsgs = #{messages};</script>
