#chat
{
    background-color: #176093;
    border-bottom: 1px solid #b2b2b2;
    bottom: 28px !important;
    font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    font-size: 11px;
    line-height: normal;
    position: fixed;
/*    text-align: left;*/
    width: 400px;
    color: #fff;
/*    float:right;*/
    right: 5px;
    z-index: 1025;
    padding:5px;
}

#chatpopup
{
/*    background-color: #fff;
    border-bottom: 1px solid #b2b2b2;
    bottom: 28px !important;
    font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    font-size: 11px;
    line-height: normal;
    position: fixed;
    text-align: left;
    width: 230px;
    z-index: 1025;*/
}

#chatpopup a
{
    color: #fff;
}

#chatpopup a.active
{
    color: #f00;
}

#chatrooms, #onlineusers
{
    background-color: #6d84b4;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;  
    margin-top: 5px;
}

#chatrooms h3, #onlineusers h3
{
   color:#000;
   margin-bottom: 5px;
}

#chatroom, #userchat
{
    background-color: #7a67d7;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;  
    margin-top: 5px;
}

#chatroom ul, #userchat ul
{
    height: 200px;
    overflow: auto;
    margin-top:10px;
}

#chatroom h3, #userchat h3
{
    font-size: 25px;
}

#chatroom ul li img, #userchat ul li img
{
    float:left;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;  
}

#chatroom ul li span, #userchat ul li span
{
   float:left; 
   clear:both;
}

#chatroom ul li p, #userchat ul li p
{
    
  margin-left: 60px;   
    
}

#chatroom ul li, #userchat ul li
{
    min-height: 70px;
    border: 1px solid #ccc;
    margin-bottom: 3px;
    margin-right: 3px;
    margin-top: 3px;
    padding: 3px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;  
}

#chat form input
{
    border: 3px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 10px 0 10px 0;
    width: 90%;
    font-size: 15px;
}

#chat form textarea
{
    border: 3px solid white;  
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 10px 0 10px 0;
    width: 90%;
    font-size: 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;  
    margin-top: 5px;
}

#chat form button
{
    background-color: #176093;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    margin-left: 5px;
    width: 97%;
}

#chat form button:hover {
    border: none;
    background:#6d84b4;
    box-shadow: 0px 0px 1px #777;
}
	
	