<script type="text/html" id="chatTpl">
    <div id="chatbox">
        <div id="chat_bar">
            <a id="chat_link" href="">
                <div id="outer_chat_link" class="outer_box">
                    <img src="/styles/default/chat/chat-icon.svg">
                    <p> Chat (<span>0</span>) </p>
                </div>
            </a>
            <a id="chatrooms_link" href="">
                <div id="outer_chatrooms" class="outer_box">
                    <img src="/styles/default/chat/chatrooms.svg">
                </div>
            </a>
            <a id="chat_switch_link" class="open_chat" href="">
                <div id="outer_chat_switch_link" class="outer_box">
                    <img src="/styles/default/chat/chat-active.svg">
                </div>
                <div id="outer_chat_switch_link_off" class="outer_box">
                    <img src="/styles/default/chat/chat-inactive.svg">
                </div>
            </a> 
        </div>
        <div id="chatrooms" class="outer_chatrooms">
            <p id="chat_title" class="chat_title">Chatrooms</p>
            <ul id="chatrooms_list" class="chatlist">
                <li>
                    <ul class="chat_featured">
                        
                    </ul>
                </li>
                <li>
                    <ul class="chat_members">
                        
                    </ul>
                </li>
            </ul>
            <div class="top_chat_icons">
                <a id="add_chatroom_link" class="add_chatroom" href="">
                    <img src="/styles/default/chat/add-chatroom.svg">
                </a>
                <a class="pop_out_chat" href="">
                    <img src="/styles/default/chat/pop-out.svg">
                </a>
            </div>
            <p id="add_chatroom_error"></p>
            <form id="add_chatroom_form" action="">
                <input type="text" id="add_chatroom_form_input">
                <input type="submit" value="Add" class="add_btn">
            </form>
        </div>
        <div id="chatroom_chat" class="chatroom_chat">
            <div id="open_chatroom_sample">
                <div class="chat_title">
                    <a href="">
                        <p class="username"></p>
                    </a>
                    <div class="innertop_chat_icons">
<!--                        <a class="pop_out_chat" href="">
                            <img src="/styles/default/chat/pop-out.svg">
                        </a>-->
                        <a class="close_chat" href="">
                            <img src="/styles/default/chat/close-button.svg">
                        </a>
                    </div>
                </div>
                <ul class="chatroom_chat_msgs">
                </ul>
                <form class="chat_textform" action="">
                    <textarea class="chat_textarea"></textarea>
                </form>
            </div>
            <div id="chatroom_chat_header_sample" class="chatroom_chat_header">
                <p class="username"></p>
                <a class="close_chat" href="">
                    <img src="/styles/default/chat/close-button.svg">
                </a>
            </div>
        </div>
        <div id="online_users">
            <p id="chat_title_2" class="chat_title">Chat</p>
            <p id="no_active_user">No one is available to chat.</p>
            <ul id="online_users_list" class="ol_users_list"></ul>
        </div>
        <div id="private_chat">
            <div id="private_chat_sample" class="private_chat">
                <p class="username"></p>
                <a class="close_chat" href="">
                    <img src="/styles/default/chat/close-button.svg">
                </a>
                <ul class="private_chat_msgs">
                </ul>
                <form action="">
                    <textarea></textarea>
                </form>
            </div>
            <div id="private_chat_header_sample" class="private_chat_header">
                <p class="username"></p>
                <a class="close_chat" href="">
                    <img src="/styles/default/chat/close-button.svg">
                </a>
            </div>
        </div>
    </div>
</script>