a {
	text-decoration: none;
}

#chat {
	display: block;
	z-index: 999;
	position: fixed;
	right: 10px;
	bottom: -2px;
	border: 1px solid #bac0cd;
	border-bottom: 0;
	border-right: 0;
	height: 28px;
	width: auto !important;
}

#chat_bar {
/*	border: 1px solid #bac0cd;
	border-bottom: 0;
	border-right: 0;*/
}

#chat_bar a {
	float: left;
	/*border: 1px solid #bac0cd;
	border-left: none;*/
	margin: 0;
}

.outer_box {
	background: #EBEEF4;
	border-right: 1px solid #bac0cd;
	padding: 5px;
	/*padding-bottom: 0;*/
}

.outer_box:hover, .outer_box:active, #chat_bar a:hover, #chat_bar a:active {
	background: #fff;
} 

#outer_chat_link {
	width: 190px;
}

#chat_link p {
	margin: 0;
	padding-bottom: 5px;
	font-size: 14px;
	font-weight: bold;
}

#chat_link span {
	font-size: 12px;
}

#chat_link img {
	float: left;
	position: relative;
	bottom: 4px;
	width: 16px;
	margin: 0 5px;
}

/*INNER*/

.outer_chatrooms {
	position: absolute;
	bottom: 28px;
	right: 32px;
	border: 1px solid #bac0cd;
	width: 226px;
}

.chat_title, .username {
	background: #ccc;
	margin: 0;
	padding: 3px 5px;
	font-weight: bold;
}

.chatlist > li{
	display: inline-block;
	padding: 3px;
}

.chatlist, .chat_featured, .chat_members {
	margin:0;
	padding-left: 0;
	list-style: none;
}

.chat_featured {
	width: 150px;
	padding-left: 20px;
}

.chat_members {
	text-align: right;
	padding-right: 15px;
}

.top_chat_icons {
	position: absolute;
	right: 8px;
	top: 3px;
}

.add_chatroom {
	/*position: absolute;
	right: 25px;
	top: 6px;*/
}

.add_chatroom img {
	margin-right: 5px;
}

.pop_out_chat {
	color: blue;
	fill: currentColor;
}

.pop_out_chat img {
	fill: currentColor;
}

#add_chatroom_form_input {
	background: #f1f1f1;
	border: 1px inset #d1d1d1;
	position: relative;
	bottom: 2px;
	left: 20px;
	width: 140px;
	font-family: 'Times New Roman';
	font-size: 15px;
	text-indent: 3px;
}

.add_btn {
	position: relative;
	left: 171px;
	bottom: 21px;
}

#add_chatroom_form_input, .add_btn {
	display: none;
}

.open_chatroom {
	position: absolute;
	bottom: 0;
	right: 270px;
	border: 1px solid #bac0cd;
	width: 200px;
	height: 190px;
}

.open_chatroom_2 {
	display: none;
}

.open_chatroom p {
	margin: 0;
	width: 154px;
}

.innertop_chat_icons {
	position: relative;
	right: 0;
}

.innertop_chat_icons a {
	margin: 0 2px;
}

.open_chatroom a, .innertop_chat_icons {
	display: inline-block;
}

.private_chat {
	position: absolute;
	background: #e9eaed;
	right: 270px;
	bottom: 0;
	border: 1px solid #bac0cd;
	width: 220px;
	min-height: 200px;
	max-height: 200px;
}

#private_chat > div {
	float: left;
}

.private_chat form, .chat_textform {
	position: absolute;
	bottom: 0;
	width: 99%;
	margin: 0 auto;
}

ul.private_chat_msgs {
	max-height: 140px;
	overflow-x: hidden;
}

.private_chat_msgs li {
	padding: 0 5px;
}

.private_chat_msgs li img {
	width: 35px;
	height: 35px;
}

.private_chat_msgs li span {
	padding: 0 5px;
	position: relative;
	top: -13px;
	font-weight: bold;
}

.private_chat_msgs li p {
	position: relative;
	left: 41px;
	padding-bottom: 5px;
	width: 75%;
}

.private_chat_msgs li p:last-child {
	padding-bottom: 25px;
}

ul.chatroom_chat_msgs {
	max-height: 140px;
	overflow-x: hidden;
}

.chatroom_chat_msgs li {
	padding: 0 5px;
}

.chatroom_chat_msgs li img {
	width: 35px;
	height: 35px;
}

.chatroom_chat_msgs li span {
	padding: 0 5px;
	position: relative;
	top: -13px;
	font-weight: bold;
}

.chatroom_chat_msgs li p {
	position: relative;
	left: 41px;
	padding-bottom: 5px;
	width: 75%;
}

.chatroom_chat_msgs li p:last-child {
	padding-bottom: 25px;
}

.private_chat textarea, .chat_textarea {
	width: 98%;
	overflow: hidden;
	resize: none;
	border: none;
	background: #fffff8;
	position: relative;
	bottom: -4px;
	padding: 3px;
}

.private_chat_header, .chatroom_chat_header {
	position: absolute;
	right: 265px;
	width: 150px;
	border: 1px solid #bac0cd;
}

.close_chat {
	position: absolute;
	right: 4px;
	top: 4px;
}

#online_users {
	position: absolute;
	left: -203px;
	bottom: 1px;
	border: 1px solid #bac0cd;
	border-bottom: none;
	width: 200px;
	background: #e9eaed;
}

#online_users > p:nth-child(2) {
	padding: 5px;
}

.ol_users_list > li {
	text-indent: 25px;
	padding: 10px 0;
}

/*#chat_link { 
	border-left: 1px solid #bac0cd;
}*/


/*.outer_chatrooms, #chatroom_chat, #online_users, .private_chat {
	display: none !important;
}
*/
/*.open_chatroom, .chatroom_chat {
	display: none;
}*/

#open_chatroom_sample, #chatroom_chat_header_sample, #private_chat_sample, #private_chat_header_sample {
    display:none;
}

