a {
	text-decoration: none;
}

#chat {
	display: block;
	z-index: 999;
	position: fixed;
	right: 10px;
	bottom: -2px;
	border: 1px solid #bac0cd;
	border-bottom: 0;
	border-right: 0;
	height: 28px;
}

#chat_bar {
/*	border: 1px solid #bac0cd;
	border-bottom: 0;
	border-right: 0;*/
}

#chat_bar a {
	float: left;
}

.outer_box {
	background: #EBEEF4;
	border-right: 1px solid #bac0cd;
	padding: 5px;
	padding-bottom: 0;
}

.outer_box:hover, .outer_box:active, #chat_bar a:hover, #chat_bar a:active {
	background: #fff;
} 

#outer_chat_link {
	width: 190px;
}

#chat_link p {
	margin: 0;
	padding-bottom: 5px;
	font-size: 14px;
	font-weight: bold;
}

#chat_link span {
	font-size: 12px;
}

#chat_link svg {
	float: left;
	position: relative;
	left: 3px;
	bottom: 4px;
}

/*INNER*/

.outer_chatrooms {
	position: absolute;
	bottom: 28px;
	right: 27px;
	border: 1px solid #bac0cd;
	width: 229px;
}

.chat_title {
	background: #ccc;
	margin: 0;
	padding: 3px 5px;
	font-weight: bold;
}

.chatlist > li{
	display: inline-block;
	padding: 3px;
}

.chatlist, .chat_featured, .chat_members {
	margin:0;
	padding-left: 0;
	list-style: none;
}

.chat_featured {
	width: 150px;
	padding-left: 20px;
}

.chat_members {
	text-align: right;
	padding-right: 15px;
}

.top_chat_icons {
	position: absolute;
	right: 8px;
	top: 3px;
}

.add_chatroom {
	/*position: absolute;
	right: 25px;
	top: 6px;*/
}

.pop_out_chat {
	color: blue;
	fill: currentColor;
}

.pop_out_chat svg {
	fill: currentColor;
}

#add_chatroom_form_input {
	background: #f1f1f1;
	border: 1px inset #d1d1d1;
	position: relative;
	bottom: 15px;
	left: 20px;
	width: 140px;
	font-family: 'Times New Roman';
	font-size: 15px;
	text-indent: 3px;
}

#add_chatroom_form_input, .add_btn {
	display: none;
}

#chatroom_chat {
	/*position: relative;*/
}

.active_chatroom {
	background: #d8d8d8;
	border: 1px solid #bac0cd;
	border-right: none;
	position: absolute;
	bottom: 1px;
	right: 258px;
	width: 150px;
	display: none;
}

.active_chatroom_2 {
	background: #d8d8d8;
	border: 1px solid #bac0cd;
	border-right: none;
	position: absolute;
	bottom: 1px;
	width: 150px;
	right: 459px;
}

.active_chatroom a, .active_chatroom_2 a {
	display: inline-block;
}

.active_chatroom p, .active_chatroom_2 p {
	margin: 0;
	padding: 5px;
	width: 120px;
	font-size: 14px;
	font-weight: bold;
}

.open_chatroom {
	position: absolute;
	bottom: 0;
	right: 257px;
	border: 1px solid #ccc;
	width: 200px;
	height: 190px;
}

.open_chatroom_2 {
	display: none;
}

.open_chatroom p {
	margin: 0;
	width: 154px;
}

.innertop_chat_icons {
	position: relative;
	right: 0;
}

.innertop_chat_icons a {
	margin: 0 2px;
}

.open_chatroom a, .innertop_chat_icons {
	display: inline-block;
}

.chat_textform {
	border-top: 1px solid #c9d0da;
	cursor: text;
	max-height: 77px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	bottom: -100px;
	padding: 2px;border-top: 1px solid #c9d0da;
	cursor: text;
	max-height: 77px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	bottom: -122px;
	padding: 2px;
}

.chat_textarea {
	border: none;
	width: 98%;
	resize: none;
	min-height: 16px;
	height: 20px;
}

.private_chat {
	position: absolute;
	right: 0;
	bottom: 0;
	border: 1px solid #bac0cd;
	width: 256px;
}






.off {
	display: none;
}

/*.outer_chatrooms,*/ #chatroom_chat, #online_users, .private_chat {
	display: none;
}

/*.open_chatroom, */.chatroom_chat {
	display: none;
}
#active_chatroom_sample, #open_chatroom_sample, #private_chat_sample {
    display:none;
}

